.weather{
    place-self: center;
    padding: 40px;
    border-radius: 20px;
    background-image: linear-gradient(45deg,#9e11d2,#f804a7);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items:center;
    gap: 20px;
}
.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-bar img {
    width: 25px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.weather-icon{
    width: 150px;
    margin: 30px 0 ;

}
.temerature{
    color: #ffffff; 
    font-size: 80px;
    line-height: 1;

}
.location{
    color: white;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color:whitesmoke;
    display: flex;
    justify-content: space-between;
}
.weather .col{
    display: flex;
    align-items: flex-start;
    gap: 22px;
    font-size: 20px;
}
.weather .col span{
    display: block;
    font-size: 16px;

}
.weather-data .col img{
    width: 26px ;
    margin-top: 10px;
}